body {
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

/* 导航栏 */
.navBar {
  width: 100%;
  opacity: 1;
}

.navBar .navBar_title {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: center;
  background-color: skyblue;
}
.navBar .navBar_title .navBar_title_li {
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 80px;
  color: rgba(255, 255, 255, 1); /* 等会不用取消注释 */
  position: relative;
}
.navBar .navBar_title .navBar_title_li .navBar_title_li_bottom {
  position: absolute;
  top: 96%;
  left: 40%;
  width: 61px;
  height: 4.67px;
  background: #ffffff;
}
.navBar .background {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 1400px;
  box-shadow: 4px 12px 12px 12px #000000;
}

/* 横栏 （welcome to join us） */
.heng_bar {
  width: 100%;
  height: 133px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 34.75px;
  color: rgba(166, 166, 166, 1);
  padding: 70px 0 20px 0;
}

/* 导航栏+横栏 完毕 */
