.photoShow {
  width: 1369px;
  height: 667.55px;
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  margin: 0 auto;
}
.photoShow .photoShow_title {
  margin: 0 370px;
  display: flex;
  flex-direction: column;
}
.photoShow .photoShow_title .ch_title {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 52.13px;
  color: rgba(0, 0, 0, 1);
}
.photoShow .photoShow_title .en_title {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28.96px;
  color: rgba(0, 0, 0, 0.38);
}

.photoShow .photoShow_show {
  width: 100%;
  position: relative;
}
.photoShow .photoShow_show .show_1 {
  position: absolute;
  left: 5px;
  top: 51.57px;
  width: 330.76px;
  height: 443.98px;
  border-radius: 25px;
  background: #cccccc;
}
.photoShow .photoShow_show .show_2 {
  left: 360.77px;
  top: 51.57px;
  width: 368.1px;
  height: 202.96px;
  border-radius: 25px;
  background: #a84c4c;
  position: absolute;
}
.photoShow .photoShow_show .show_3 {
  left: 785px;
  top: 51.57px;
  width: 366.77px;
  height: 202.96px;
  border-radius: 25px;
  background: pink;
  position: absolute;
}
.photoShow .photoShow_show .show_4 {
  left: 360.77px;
  top: 278.26px;
  width: 794.23px;
  height: 218.29px;
  border-radius: 25px;
  background: black;
  position: absolute;
}

/* 照片展示完毕 */
